# izunome
.title {
    color: #02ccba;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    padding: 100px;
    text-align: center;
    margin: 30px;
    background-color: aqua;
    
  }

 p {
    color: #02ccba;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    background-color: aqua;
    
}  
.main {
   margin: 30px 30px;
   padding: 100px;
   background-color: palegoldenrod;
   text-align: center;
   font-size: 25px;

}

ul {  
list-style:none;
}

.copy-container img {
  padding:40px 40px;
  height: 60%;
  width: 80%;  
}
.contents img {
  padding:40px 40px;
  text-align: center;
  height: 30%;
  width: 30%;
}




.manndara {
  font-family: cursive;
  font-size: 60px;
  padding:300px 300px;
  color:purple;
  float: left;
 
}
