.copy {
  color: #02ccba;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  margin: 30px;
  background-color: aqua;
}

.containers {
  width: auto;
  height: 1000px;
  /* background-image: url(../izunome/IMG_1112.jpg);
  /* background-color: rgba(192, 178, 178, 0.1);*/
  background-image: linear-gradient(
    rgba(164, 202, 115, 0.2),
    rgba(160, 255, 0, 0.2)
  );
  background-size: cover;
  padding: 40px;
  margin: 20px;
}

.container-right {
  display: inline;
}

.item-right {
  float: right;
  width: 43%;
  height: 80%;
}
.container-right p {
  float: left;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: rgb(12, 55, 94);
}

.container-left {
  display: inline;
}

.item-left {
  float: left;
  width: 50%;
  height: 80%;
}
.container-left p {
  float: right;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: rgb(12, 55, 94);
}

.contents {
  padding: 30px;
  /*margin-top: 40px;
  margin-bottom: 40px;*/
  background-color: rgba(149, 202, 223, 0.568);
  border-radius: 30px;
  width: 49%;
}

